---
layout: default
---

{% include home-header.html %}

<div class="row", style="margin-top:5%">
      <div class="six columns">
          <p>
          Welcome!
          </p>
          <p>  
          I am Aswin Vijayan, an Astronomy Research Fellow at the Unviersity of Sussex, UK. I was previosuly a Dawn Postdoctoral Fellow at the Cosmic Dawn Center at DTU, Denmark. I am interested in studying the formation and evolution of galaxies in the first billion years of the Universe. I am particularly interested in the impact of dust in these early epochs and how to model these as well as the SEDs of galaxies in cosmological simulations  
          </p>
          <p>
          I am originally from Thrissur, the cultural capital of Kerala, a state in the southern part of India. I completed my undergraduate degree in Engineering Physics at the National Institute of Technology, Calicut in India and went on to do my masters in Astronomy at the Universteit Leiden, The Netherlands. I received my PhD from the University of Sussex, UK.
          </p>
      </div>
</div>


